.container {
    display: grid;
    grid-gap: 5px;
    width: 50%;
    border: 1px solid #000;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
    grid-auto-flow: dense;
}

.container div {
    border: 1px solid #ccc
}
.horizontal {
    grid-column: auto / span 2;
}
.vertical {
    grid-row: span 2;
}
.big {
    grid-column: span 2;
    grid-row: span 2;
}
