.container {
    display: grid;
    height: 100%;
    /* grid-template-columns: 100px auto 100px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: 50px 50px; */
    /* grid-template-rows: repeat(2, 50px); */
    /* grid-template: repeat(2, 50px) / repeat(3, 1fr); */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-gap: 3px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
    /* grid-column-start: 1; */
    /* grid-column-end: 3; */
    /* grid-column: 1 / 3; */
    /* grid-column: 2 / -1; */
}

.menu {
    grid-area: m
    /* grid-row: 1 / -2; */
}

.footer {
    grid-area: f;
    /* grid-column: 1/3; */
    /* grid-column: 1 / span 2; */
    /* grid-column: 1 / -1; */
}

.content {
    grid-area: c;
    /* grid-column: 2 / -1; */
}

.container div {
    border: 1px solid #ccc;
    text-align: center;

}