.container {
    display: grid;
    grid-gap: 5px;
    border: 1px solid black;

    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 100px 100px;
}

.container2 {
    display: grid;
    height: 100%;
    grid-gap: 5px;
    border: 1px solid black;

    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: 100px 100px;

}

.container div, .container2 div {
    border: 1px solid #ccc;
}
