.container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-gap: 3px;
    /* justify-items: start; */
    /* align-items: center; */
}

.header {
    grid-column: 1 / -1;
}

.menu {
    grid-column: 1 / 3
}

.footer {
    grid-column: 1 / -1
}

.content {
    grid-column: 3 / -1;
    /* justify-self: center; */
    /* align-self: center; */
}

.container div {
    border: 1px solid #ccc;
    text-align: center;

}