body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}


.container {
    width: 90%;
    max-width: 900px;
    border: 1px solid magenta;
    margin: 0 auto;
}
.container-nav {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }
    header {
        text-align: center;
    }

    nav ul { 
        flex-direction: column;
        justify-content: center;
    }
    nav li {
        margin: .5em 0;
    }
}

header { 
    /* font-size: 3.375rem; */
    /* text-align: center; */
    background: #f8f8f8;
    padding: 2em 0;
}

nav ul {
    border: 1px solid magenta;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 350px;

}

nav li {
    border: 1px solid orange;
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    padding: .2em 0;
    color: #707070;
    font-weight: 700;
    border: 1px solid green;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    color: red;
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}