* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 6px;
}

.logo {
    font-size: 1.2rem;
}

.nav-items {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
}